:root {
    --bg-color: #f5f5f5;
    --text-color: #6c757d;
    --accent-color: #b8e5ff;
    --contrast-color: #3d464d;
    --gray-color: #ccc;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: var(--bg-color);
    flex-direction: column;
    margin: 0;
    color: var(--text-color);
}

.main {
    background-color: var(--accent-color);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: all .3s;
    width: 500px;
    text-align: center;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
}

.main input::placeholder {
    color: var(--gray-color);
}

.main input:focus {
    transition: all .3s;
    color: var(--text-color);
    border-color: var(--gray-color);
}

input {
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
}

button:hover {
    color: var(--bg-color);
    background-color: var(--contrast-color);
    border: 0.5px solid var(--accent-color);
    transition: all .3s;
}

button {
    transition: all .3s;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid var(--contrast-color);
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--accent-color);
    width: 50%;
    font-size: 16px;
}

@media (max-width: 768px) {
    .main {
        background-color: var(--accent-color);
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
        transition: all .3s;
        width: 300px;
        text-align: center;
        font-size: 10px;
    }

    button {
        text-align: center;
        font-size: 8px;
    }

    .main input::placeholder {
        font-size: 10px;
    }
}